@font-face {
  font-family: "iconfont"; /* Project id 1187441 */
  src: url('iconfont.woff2?t=1622012595631') format('woff2'),
       url('iconfont.woff?t=1622012595631') format('woff'),
       url('iconfont.ttf?t=1622012595631') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e667";
}

.icon-zuojiantou:before {
  content: "\e669";
}

