// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
// https://quasar.dev/style/sass-scss-variables
$gray-100: #EEEEEE;
$gray-200: #DADADA;
$gray-300: #707070;
$gray-400: #333333;
$gray-500: #1E1E2C;

$yellow-: #FF7327;
$red-: #FC8484;
$blue-: #6299FD;
$purple-: #928CF5;
